<!DOCTYPE html>
<html lang="en" style="overflow:hidden;">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>数据管理分析平台</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/base/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.toast.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.webui-popover.min.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/web.png')}}" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100" style="margin-left:1rem;margin-right:1rem;">
          <a class="navbar-brand brand-logo" href="{{url_for('user.MainPage',username=username)}}"><img src="{{url_for('static',filename='images/hust_logo_mini.png')}}" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="{{url_for('user.MainPage',username=username)}}"><img src="{{url_for('static',filename='images/hust_logo.png')}}" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>  
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{url_for('static',filename='images/user.png')}}" alt="profile"/>
              <span class="nav-profile-name">{{username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{{ url_for('logout') }}">
                <i class="mdi mdi-logout text-primary" ></i>
                退出账号
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item active" style="line-height:0;">
            <a class="nav-link" href="#" onclick="ChangePage(this,'external-frame1');">
              <i class="mdi mdi-account menu-icon"></i>
              <span class="menu-title">用 户 管 理</span>
            </a>
          </li>
          <li class="nav-item" style="line-height:0;">
            <a class="nav-link" href="#" onclick="ChangePage(this,'external-frame2');">
              <i class="mdi mdi-server-network menu-icon"></i>
              <span class="menu-title">微 服 务 管 理</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel" id="SubPage-main-panel">
        <!--style="height:calc(100vh + 60px);"-->
        <iframe src="UserManagerSubPage" frameborder="0" class="external-frame"
                id="external-frame1" width="100%" style="height:calc(100vh);display:block;">
        </iframe>
        <iframe src="ServerManagerSubPage" frameborder="0" class="external-frame"
                id="external-frame2" width="100%" style="height:calc(100vh);display:none;">
        </iframe>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{{url_for('static',filename='vendors/base/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/datatables.net/jquery.dataTables.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/jquery.toast.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/jquery.webui-popover.min.js')}}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/lib/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/NavBar.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->

  <!-- End custom js for this page-->
</body>

</html>

