<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/base/vendor.bundle.base.css')}}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.css')}}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/ySelect.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.toast.css')}}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='images/web.png')}}" />
</head>
<body style="padding-top:1.04rem;padding-bottom:4rem;padding-left:1.04rem;padding-right:1.04rem !important;background:#f3f3f3;">
  <!-- partial -->
  <div class="content-wrapper" style="padding:0px;background:#ffffff;">
    <div class="row">
      <div class="col-md-12 stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-big-title">用 户 注 册 信 息 管 理</h4>
            <!-- 搜索条件表单 -->
            <form class="form-sample">
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">编 号</label>
                    <div class="col-sm-9">
                      <div style="position:relative;">
                        <input id="ID" type="search" class="form-control" placeholder="123"
                             oninput="this.value=this.value.replace(/\D|^[0]/g,'')" autocomplete="off"
                             onafterpaste = "this.value=this.value.replace(/\D|^[0]/g,'')">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">姓 名</label>
                    <div class="col-sm-9">
                      <div style="position:relative;">
                        <input id="Name" type="search" class="form-control" placeholder="张三"
                             oninput="value=value.replace(/[^\u4E00-\u9FA5a-zA-Z]/g,'') " autocomplete="off"
                             onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[/d]/g,''))"
                             maxlength=10>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">用户名</label>
                    <div class="col-sm-8">
                      <div style="position:relative;">
                        <input id="UserName" type="search" class="form-control" placeholder="ZhangSan" autocomplete="off">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">类 型</label>
                    <div class="col-sm-9">
                      <select id="Type" class="multiple-select" multiple="multiple">
                        <option value="2">系统管理员</option>
                        <option value="1">管理员</option>
                        <option value="0">普通用户</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row" >
                    <div class="col-sm-12" style="align-items: center;">
                      <div class="btn-group" role="group" aria-label="Basic example" style="float:right;">
                        <input type="button" class="btn btn-sm btn-inverse-primary btn-fw" id="search_button" value="查 询" onclick="search_by_condition(true);"/>
                        <button type="reset" class="btn btn-sm btn-inverse-warning btn-fw" onclick="$('#Type').ClearSelected();">重 置</button>
                        <input type="button" class="btn btn-sm btn-inverse-success btn-fw" value="新 增" onclick="showAddBox();"/>
                      </div>
                    </div>
                  </div>
               </div>
              </div>
            </form>
            <!-- 数据显示表格 -->
            <div class="table-responsive">
              <table id="UserTable" class="table table-hover">
                <thead style="color:rgba(255,255,255,1);background-color:#6495ED;">
                  <tr>
                      <th style="border:1px solid #3f51b5;">编号</th>
                      <th style="border:1px solid #3f51b5;">姓名</th>
                      <th style="border:1px solid #3f51b5;">用户名</th>
                      <th style="border:1px solid #3f51b5;">用户类型</th>
                      <th style="border:1px solid #3f51b5;">操作</th>
                  </tr>
                </thead>
                <tbody id="UserInfo">
                </tbody>
              </table>
            </div>
            <!-- 页面控制、跳转 -->
            <form class="form-sample">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group row" >
                    <label id="sum_of_userinfo" class="col-sm-12 col-form-label text-primary" style="margin-left:10px;text-align:left;">共有0条记录</label>
                  </div>
                </div>
                <div class="col-md-8" style="float:right;">
                  <div class="form-group row" style="float:right;">
                    <div class="btn-group col-sm-4" role="group" aria-label="Basic example">
                      <button type="button" id="first_page" class="btn btn-outline-primary btn-fw btn-icon" onclick="first_page_();">
                        <i class="mdi mdi-format-horizontal-align-left"></i>
                      </button>
                      <button type="button" id="p_page" class="btn btn-outline-primary btn-fw btn-icon" onclick="p_page_();">
                        <i class="mdi mdi-arrow-left"></i>
                      </button>
                    </div>
                    <div class="col-sm-4">
                      <div class="input-group mr-sm-2">
                        <input type="text" id="num_of_pages" value="1" class="form-control" placeholder="1" style="height:40px;padding:0.25rem 0.25rem;"
                             oninput="this.value=this.value.replace(/\D|^[0]/g,'')" autocomplete="off"
                             onafterpaste = "this.value=this.value.replace(/\D|^[0]/g,'')" maxlength=10
                             onkeydown="if(event.keyCode==13){return false;}" onkeyup="if(event.keyCode==13){num_of_pages_enter();return false;}">
                        <div class="input-group-prepend">
                          <span id="sum_of_pages" class="input-group-text bg-primary text-white" style="height:40px;">/ 0</span>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group col-sm-4" role="group" aria-label="Basic example">
                      <button type="button" id="n_page" class="btn btn-outline-primary btn-fw btn-icon" onclick="n_page_();">
                        <i class="mdi mdi-arrow-right"></i>
                      </button>
                      <button type="button" id="end_page" class="btn btn-outline-primary btn-fw btn-icon" onclick="end_page_();">
                        <i class="mdi mdi-format-horizontal-align-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- 透明遮罩 -->
  <div id="hidebg" class="modal-bg" onclick="clickhide();"></div>
  <!-- 弹出式编辑表单 -->
  <div id="hidebox" class="modal-center" style="transform:translate(-50%,-50%);">
    <div class="card" style="padding-bottom: 15px;padding-left: 10px;padding-right: 5px;width:100%;min-width: 600px;">
      <div>
        <button class="btn btn-outline-secondary btn-rounded btn-icon close" onClick="hidebox();">
          <i class="mdi mdi-window-close" style="text-anchor:middle;font-size:0.5rem;"></i>
        </button>
      </div>
      <div class="card-body">
        <h4 class="card-title">编 辑 信 息</h4>
        <form class="forms-sample">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">编 号</label>
            <div class="col-sm-9">
              <input type="search" readonly="readonly" class="form-control" placeholder="123" id="edit_id"
                   oninput="this.value=this.value.replace(/\D|^[0]/g,'')"
                   onafterpaste = "this.value=this.value.replace(/\D|^[0]/g,'')" autocomplete="off">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">姓 名</label>
            <div class="col-sm-9">
              <div style="position:relative;">
                <button type="button" class="btn btn-outline-secondary btn-rounded close btn-input-clear">
                  <i class="mdi mdi-window-close" style="text-anchor:middle;font-size:0.5rem;"></i>
                </button>
                <div style="position:relative;">
                  <input type="search" class="form-control" placeholder="张三" id="edit_name"
                     oninput="value=value.replace(/[^\u4E00-\u9FA5a-zA-Z]/g,'') "
                     onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[/d]/g,''))"
                     maxlength=10 autocomplete="off">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">用户名</label>
            <div class="col-sm-9">
              <div style="position:relative;">
                <input type="search" class="form-control" placeholder="ZhangSan" id="edit_username" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">类 型</label>
            <div class="col-sm-9">
              <select id="edit_usertype" class="form-control">
                <option value="1">管理员</option>
                <option value="0">普通用户</option>
              </select>
            </div>
          </div>
        </form>
        <div>
          <button class="btn btn-sm btn-primary mr-2" id="edit_button" onclick="edit_userinfo();">提 交</button>
          <button class="btn btn-sm btn-light mr-2" onclick="reset_edit_form();">重 置</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 弹出式新增表单 -->
  <div id="hideAddBox" class="modal-center" style="transform:translate(-50%,-50%);">
    <div class="card" style="padding-bottom: 15px;padding-left: 10px;padding-right: 5px;width:100%;min-width: 600px;">
      <div>
        <button class="btn btn-outline-secondary btn-rounded btn-icon close" onClick="hideAddBox();reset_add_form();">
          <i class="mdi mdi-window-close" style="text-anchor:middle;font-size:0.5rem;"></i>
        </button>
      </div>
      <div class="card-body">
        <h4 class="card-title">新 增 信 息</h4>
        <form class="forms-sample">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">姓 名</label>
            <div class="col-sm-9">
              <div style="position:relative;">
                <input type="search" class="form-control" placeholder="张三" id="add_name"
                 oninput="value=value.replace(/[^\u4E00-\u9FA5a-zA-Z]/g,'') "
                 onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[/d]/g,''))"
                 maxlength=10 autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">用户名</label>
            <div class="col-sm-9">
              <div style="position:relative;">
                <input type="search" class="form-control" placeholder="ZhangSan" id="add_username" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">密码</label>
            <div class="col-sm-9">
              <div style="position:relative;">
                <button type="button" class="btn btn-outline-secondary btn-rounded close btn-input-clear">
                  <i class="mdi mdi-window-close" style="text-anchor:middle;font-size:0.5rem;"></i>
                </button>
                <input type="password" class="form-control" id="add_password" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">确认密码</label>
            <div class="col-sm-9">
              <div style="position:relative;">
                <input type="password" class="form-control" id="add_repassword" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">类 型</label>
            <div class="col-sm-9">
              <select id="add_usertype" class="form-control">
                <option value="1">管理员</option>
                <option value="0">普通用户</option>
              </select>
            </div>
          </div>
          <input type="button" class="btn btn-sm btn-primary mb-2" id="add_button" value="提 交" onclick="add_userinfo();"/>
          <button type="reset" class="btn btn-sm btn-light mb-2" >重 置</button>
        </form>
      </div>
    </div>
  </div>
  <!-- main-panel ends -->

  <!-- plugins:js -->
  <script src="{{url_for('static',filename='vendors/base/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/datatables.net/jquery.dataTables.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/jquery.toast.js')}}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/lib/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/template.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/lib/ySelect.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/message.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/refreshUserChart.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/data-table.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/jquery.dataTables.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/dataTables.bootstrap4.js')}}"></script>
  <script src="{{url_for('static',filename='js/lib/ClearInput.js')}}"></script>
  <!-- End custom js for this page-->
</body>

</html>

